/* ------------------------------ */
/* Estilos globales */
/* ------------------------------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif, 'Arial';
  font-size: 20px;
  font-weight: 300;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------ */
/* Estilos comunes */
/* ------------------------------ */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 15px;
}

/* ----- Encabezados ----- */
h1,
h2 {
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 240%;
  margin-bottom: 20px;
  margin-top: 0;
  word-spacing: 4px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  word-spacing: 2px;
}
h2:after {
  background-color: #e67e22;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/* ----- Parrafos ----- */
.long-copy {
  line-height: 145%;
  margin-left: 15%;
  width: 70%;
}

.box p {
  font-size: .9rem;
  line-height: 145%;
}

/* ----- Iconos ----- */
.icon-big {
  color: #e67e22;
  display: block;
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.icon-small {
  color: #e67e22;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 10px;
  margin-top: -5px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

/* ----- Hipervinculos ----- */
a:link,
a:visited {
  border-bottom: 1px solid #e67e22;
  color: #e67e22;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition: border-bottom .2s, color .2s;
  transition: border-bottom .2s, color .2s;
}

a:hover,
a:active {
  border-bottom: 1px solid transparent;
  color: #555;
}

/* ----- Botones ----- */
.btn:link,
.btn:visited,
input[type=submit] {
  border-radius: 200px;
  display: inline-block;
  font-weight: 300;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
  margin-left: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ------------------------------ */
/* Header */
/* ------------------------------ */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0))), url(images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.hero-text-box {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1140px;
}

.logo {
  height: 80px;
  float: left;
  margin-top: 20px;
  width: auto;
}

.logo-black {
  display: none;
  height: 50px;
  float: left;
  margin: 5px 0;
  width: auto;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 45px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link, .main-nav li a:visited {
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: .9rem;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}
.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
  border-bottom: 0px solid #e67e22 !important;
  cursor: pointer;
  display: none;
  float: right;
  margin-top: 30px;
}
.mobile-nav-icon i {
  color: #fff;
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .mobile-nav-icon {
    display: inline-block;
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.sticky .main-nav {
  margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
  padding: 16px 0;
}
.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}

/* ------------------------------ */
/* Seccion caracteristicas. */
/* ------------------------------ */
.section-features .long-copy {
  margin-bottom: 30px;
}

/* ------------------------------ */
/* Seccion comidas. */
/* ------------------------------ */
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meals-showcase li figure {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.meals-showcase li figure img {
  height: auto;
  opacity: .7;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  width: 100%;
}
.meals-showcase li figure img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* ------------------------------ */
/* Seccion de pasos. */
/* ------------------------------ */
.section-steps {
  background-color: #f4f4f4;
}

.steps-box {
  margin-top: 30px;
}
.steps-box:first-child {
  margin-top: 30px;
  padding-right: 3%;
  text-align: right;
}
.steps-box:last-child {
  margin-top: 70px;
  padding-left: 3%;
}
.steps-box .works-step {
  margin-bottom: 50px;
}
.steps-box .works-step:last-of-type {
  margin-bottom: 80px;
}
.steps-box .works-step div {
  border: 2px solid #e67e22;
  border-radius: 50%;
  color: #e67e22;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  height: 50px;
  margin-right: 25px;
  padding: 5px;
  text-align: center;
  width: 50px;
}

.app-screen {
  width: 40%;
}

.btn-app:link, .btn-app:visited {
  border: 0;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------ */
/* Seccion de ciudades. */
/* ------------------------------ */
.box img {
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

.city-feature {
  margin-bottom: 5px;
}

/* ------------------------------ */
/* Seccion de testimonios. */
/* ------------------------------ */
.section-testimonials {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/back-customers.jpg);
  background-size: cover;
  color: #fff;
}

blockquote {
  font-style: italic;
  line-height: 1.45rem;
  margin-top: 40px;
  padding: 2%;
  position: relative;
}
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 4rem;
  left: 0;
  position: absolute;
  top: 0px;
}

cite {
  display: block;
  font-size: .9rem;
  margin-top: 25px;
}
cite img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------ */
/* Seccion de planes. */
/* ------------------------------ */
.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px #cfcfcf;
          box-shadow: 0 2px 2px #cfcfcf;
  margin-left: 5%;
  width: 90%;
}
.plan-box div {
  border-bottom: 1px solid #f8f8f8;
  padding: 15px;
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  border: 0;
  text-align: center;
}
.plan-box ul {
  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}

.plan-price {
  color: #e67e22;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 10px;
}
.plan-price span {
  font-size: 1rem;
  font-weight: 300;
}

.plan-price-meal {
  font-size: .8rem;
}

/* ------------------------------ */
/* Seccion de contacto. */
/* ------------------------------ */
.contact-form {
  margin: 0 auto;
  width: 60%;
}

input[type=text],
input[type=email],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

/* ------------------------------ */
/* Footer */
/* ------------------------------ */
footer {
  background-color: #333;
  font-size: .8rem;
  padding: 30px;
}
footer p {
  color: #888;
  margin-bottom: 10px;
  /*margin-top: 20px;*/
  text-align: center;
}

.footer-nav,
.social-links {
  list-style: none;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  border: 0;
  color: #888;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
  color: #ddd;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}
.social-links li a:link, .social-links li a:visited {
  font-size: 1.6rem;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram-outline {
  -webkit-transition: color .2s;
  transition: color .2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram-outline:hover {
  color: #517fa4;
}

/* ------------------------------ */
/* Animations */
/* ------------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
}

js--wp-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

/* ------------------------------ */
/* Media queries */
/* ------------------------------ */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    padding: 0 2%;
    width: 100%;
  }

  .row {
    padding: 0 2%;
  }
}
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .long-copy {
    margin-left: 10%;
    width: 80%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .steps-box .works-step {
    margin-bottom: 40px;
  }
  .steps-box .works-step:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 50%;
  }

  .icon-small {
    margin-right: 5px;
    width: 20px;
  }

  .city-feature {
    font-size: .9rem;
  }

  .plan-box {
    margin-left: 0%;
    width: 100%;
  }

  .plan-price {
    font-size: 2.5rem;
  }

  .contact-form {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 16px;
  }

  section {
    padding: 30px 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    margin: 0 0 4% 0;
    width: 100%;
  }

  .main-nav {
    display: none;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:active {
    border: 0;
    display: block;
    font-size: 1rem;
    padding: 10px 0;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }
  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }

  .long-copy {
    margin-left: 0%;
    width: 100%;
  }

  .steps-box:first-child {
    text-align: center;
  }
  .steps-box .works-step {
    margin-bottom: 35px;
  }
  .steps-box .works-step:last-of-type {
    margin-bottom: 35px;
  }
  .steps-box .works-step div {
    font-size: 1.5rem;
    height: 45px;
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 4px;
    width: 45px;
  }

  .app-screen {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  .contact-form {
    width: 100%;
  }

  .btn-app img {
    height: 45px;
  }
}

/*# sourceMappingURL=style.css.map */