$maxWidth: 1140px;
$colour-orange: #e67e22;
$colour-orange-dark: #cf6d17;
$colour-gray: #f4f4f4;
$colour-text-default: #555;

/* ------------------------------ */

/* Estilos globales */

/* ------------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}

html,
body {
    background-color: #fff;
    color: $colour-text-default;
    font-family: 'Lato', sans-serif, 'Arial';
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------ */

/* Estilos comunes */

/* ------------------------------ */

.row {
    max-width: $maxWidth;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 15px;
}

/* ----- Encabezados ----- */

h1,
h2 {
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

}

h1 {
    color: #fff;
    font-size: 240%;
    margin-bottom: 20px;
    margin-top: 0;
    word-spacing: 4px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    word-spacing: 2px;
    &:after {
        background-color: $colour-orange;
        content: "";
        display: block;
        height: 2px;
        margin: 0 auto;
        margin-top: 20px;
        width: 100px;
    }
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

/* ----- Parrafos ----- */

.long-copy {
    line-height: 145%;
    margin-left: 15%;
    width: 70%;
}

.box p {
    font-size: .9rem;
    line-height: 145%;
}

/* ----- Iconos ----- */

.icon-big {
    color: $colour-orange;
    display: block;
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    color: $colour-orange;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-right: 10px;
    margin-top: -5px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

/* ----- Hipervinculos ----- */

a:link,
a:visited {
    border-bottom: 1px solid $colour-orange;
    color: $colour-orange;
    padding-bottom: 1px;
    text-decoration: none;
    transition: border-bottom .2s, color .2s;
}

a:hover,
a:active {
    border-bottom: 1px solid transparent;
    color: $colour-text-default;
}

/* ----- Botones ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    border-radius: 200px;
    display: inline-block;
    font-weight: 300;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: $colour-orange;
    border: 1px solid $colour-orange;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid $colour-orange;
    color: $colour-orange;
    margin-left: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: $colour-orange-dark;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid $colour-orange-dark;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid $colour-orange-dark;
    color: #fff;
}

/* ------------------------------ */

/* Header */

/* ------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, -7)), url(images/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $maxWidth;
}

.logo {
    height: 80px;
    float: left;
    margin-top: 20px;
    width: auto;
}

.logo-black {
    display: none;
    height: 50px;
    float: left;
    margin: 5px 0;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 45px;

    li {
        display: inline-block;
        margin-left: 40px;
        a {
            &:link,
            &:visited {
                border-bottom: 2px solid transparent;
                color: #fff;
                font-size: .9rem;
                padding: 8px 0;
                text-decoration: none;
                text-transform: uppercase;
                transition: border-bottom .2s;
            }
            &:hover,
            &:active {
                border-bottom: 2px solid $colour-orange;
            }
        }
    }
}

.mobile-nav-icon {
    border-bottom: 0px solid #e67e22 !important;
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 30px;
    i {
        color: #fff;
        font-size: 2rem;
    }

    @media only screen and (max-width:767px) {
        display: inline-block;
    }
}

.sticky {
    background-color: rgba(255, 255, 255, .98);
    box-shadow: 0 2px 2px #efefef;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .main-nav {
        margin-top: 18px;
        li {
            a:link,
            a:visited {
                color: $colour-text-default;
                padding: 16px 0;
            }
        }
    }
    .logo {
        display: none;
    }
    .logo-black {
        display: block;
    }
}

/* ------------------------------ */

/* Seccion caracteristicas. */

/* ------------------------------ */

.section-features .long-copy {
    margin-bottom: 30px;
}

/* ------------------------------ */

/* Seccion comidas. */

/* ------------------------------ */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    li {
        display: block;
        float: left;
        width: 25%;

        figure {
            background-color: #000;
            margin: 0;
            overflow: hidden;
            width: 100%;
            img {
                height: auto;
                opacity: .7;
                transform: scale(1.15);
                transition: transform .5s, opacity .5s;
                width: 100%;
                &:hover {
                    opacity: 1;
                    transform: scale(1.03);
                }
            }
        }
    }
}

/* ------------------------------ */

/* Seccion de pasos. */

/* ------------------------------ */

.section-steps {
    background-color: $colour-gray;
}

.steps-box {
    margin-top: 30px;
    &:first-child {
        margin-top: 30px;
        padding-right: 3%;
        text-align: right;
    }
    &:last-child {
        margin-top: 70px;
        padding-left: 3%;
    }
    .works-step {
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 80px;
        }
        div {
            border: 2px solid $colour-orange;
            border-radius: 50%;
            color: $colour-orange;
            display: inline-block;
            float: left;
            font-size: 1.5rem;
            height: 50px;
            margin-right: 25px;
            padding: 5px;
            text-align: center;
            width: 50px;
        }
    }
}

.app-screen {
    width: 40%;
}

.btn-app {
    &:link,
    &:visited {
        border: 0;
    }
    img {
        height: 50px;
        width: auto;
        margin-right: 10px;
    }
}

/* ------------------------------ */

/* Seccion de ciudades. */

/* ------------------------------ */

.box img {
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}

.city-feature {
    margin-bottom: 5px;
}

/* ------------------------------ */

/* Seccion de testimonios. */

/* ------------------------------ */

.section-testimonials {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(images/back-customers.jpg);
    background-size: cover;
    color: #fff;
}

blockquote {
    font-style: italic;
    line-height: 1.45rem;
    margin-top: 40px;
    padding: 2%;
    position: relative;
    &:before {
        content: "\201C";
        display: block;
        font-size: 4rem;
        left: 0;
        position: absolute;
        top: 0px;
    }
}

cite {
    display: block;
    font-size: .9rem;
    margin-top: 25px;
    img {
        border-radius: 50%;
        height: 50px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

/* ------------------------------ */

/* Seccion de planes. */

/* ------------------------------ */

.section-plans {
    background-color: $colour-gray;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px #cfcfcf;
    margin-left: 5%;
    width: 90%;
    div {
        border-bottom: 1px solid #f8f8f8;
        padding: 15px;
        &:first-child {
            background-color: #fcfcfc;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child {
            border: 0;
            text-align: center;
        }
    }
    ul {
        list-style: none;
        li {
            padding: 5px 0;
        }
    }
}

.plan-price {
    color: $colour-orange;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 10px;
    span {
        font-size: 1rem;
        font-weight: 300;
    }
}

.plan-price-meal {
    font-size: .8rem;
}

/* ------------------------------ */

/* Seccion de contacto. */

/* ------------------------------ */

.contact-form {
    margin: 0 auto;
    width: 60%
}

input[type=text],
input[type=email],
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    width: 100%;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* ------------------------------ */

/* Footer */

/* ------------------------------ */

footer {
    background-color: #333;
    font-size: .8rem;
    padding: 30px;
    p {
        color: #888;
        margin-bottom: 10px;
        /*margin-top: 20px;*/
        text-align: center;
    }
}

.footer-nav,
.social-links {
    list-style: none;
    li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
        a:link,
        a:visited {
            border: 0;
            color: #888;
            text-decoration: none;
            transition: color .2s;
        }
        a:hover,
        a:active {
            color: #ddd;
        }
    }
}

.footer-nav {
    float: left;
}

.social-links {
    float: right;
    li {
        a {
            &:link,
            &:visited {
                font-size: 1.6rem;
            }
        }
    }
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram-outline {
    transition: color .2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram-outline:hover {
    color: #517fa4;
}

/* ------------------------------ */

/* Animations */

/* ------------------------------ */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    animation-duration: 1s;
    opacity: 0;
}

js--wp-4 {
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}

/* ------------------------------ */

/* Media queries */

/* ------------------------------ */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        padding: 0 2%;
        width: 100%;
    }
    .row {
        padding: 0 2%;
    }
}

@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }

    .long-copy {
        margin-left: 10%;
        width: 80%;
    }

    .steps-box {
        margin-top: 10px;
        &:last-child {
            margin-top: 10px;
        }
        .works-step {
            margin-bottom: 40px;
            &:last-of-type {
                margin-bottom: 60px;
            }
        }
    }
    .app-screen {
        width: 50%;
    }

    .icon-small {
        margin-right: 5px;
        width: 20px;
    }
    .city-feature {
        font-size: .9rem;
    }

    .plan-box {
        margin-left: 0%;
        width: 100%;
    }

    .plan-price {
        font-size: 2.5rem;
    }

    .contact-form {
        width: 80%
    }
}

@media only screen and (max-width:767px) {
    html,
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        margin: 0 0 4% 0;
        width: 100%;
    }
    .main-nav {
        display: none;
        float: left;
        margin-left: 25px;
        margin-top: 25px;
        li {
            display: block;
            a:link,
            a:active {
                border: 0;
                display: block;
                font-size: 1rem;
                padding: 10px 0;
            }
        }
    }
    .sticky {
        .main-nav {
            margin-top: 10px;
            li {
                a:link,
                a:visited {
                    padding: 10px 0;
                }
            }
        }
        .mobile-nav-icon {
            margin-top: 10px;
            i {
                color: $colour-text-default;
            }
        }
    }
    .long-copy {
        margin-left: 0%;
        width: 100%;
    }
    .steps-box {
        &:first-child {
            text-align: center;
        }
        .works-step {
            margin-bottom: 35px;
            &:last-of-type {
                margin-bottom: 35px;
            }
            div {
                font-size: 1.5rem;
                height: 45px;
                font-size: 1.2rem;
                margin-right: 15px;
                padding: 4px;
                width: 45px;
            }
        }
    }
    .app-screen {
        width: 40%;
    }
}

@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }
    .contact-form {
        width: 100%
    }
    .btn-app {
        img {
            height: 45px;
        }
    }
}
